<div class="d-flex flex-column vh-10 justify-content-center align-items-center" style="height:30px; max-height:30px; display:inline-block;">
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav ml-auto list-group-horizontal list-group-flush">
        {% assign links = site.data.navigation %}
        {% for link in links %}
            {% assign class = nil %}
            {% if page.url contains link.url %}
                {% assign class = 'active' %}
            {% endif %}
        <li style="display:inline; margin-right:16px">
            <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
</div>
