---
const pageTitle = "About Me";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;
import FluidText from '../fluidText.astro';
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="mispellingworlds">
  <div class="master-stack">
    
    <div class="text-section">
        <FluidText text="im swagging" tag="h1" />
    </div>

  </div>
</Layout>
