---
const pageTitle = "About";
import FluidText from '../fluidText.astro';
import Layout from '../layouts/BaseLayout.astro';
import Footer from '../components/Footer.astro';

const email = 'mispellingworlds@gmail.com';
const codes = Array.from(email).map(c => c.charCodeAt(0)).join(',');
---

<Layout title="cartografia">
  <div class="master-stack">
<br></br><br></br><br></br><br></br><br></br>

  <div
  style="
    text-align: center;
    display: inline-block;
    font-size: 5vw;
    font-family: 'Nohemi-Medium', sans-serif;
    margin: 0;
    visibility: visible;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  "
  ><b>
    <span id="obf-email" data-c={codes}></span></b>
  </div>

  <script>
    const el = document.getElementById('obf-email');
    if (el) {
      const email = el.dataset.c!.split(',').map(Number).map(n => String.fromCharCode(n)).join('');
      const p = document.createElement('p');
      p.textContent = email;
      el.replaceWith(p);
    }
  </script>




  <Footer />
  </div>
</Layout>
