---
import Layout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';

import type { ImageMetadata } from 'astro';

const imageModules = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/drawings/*.{jpeg,jpg,png,gif}'
);


const images = await Promise.all(
  Object.values(imageModules).map(async (importImg) => {
    const img = await importImg();
    return img.default;
  })
);
---

<Layout title="mispellingworlds">
  <Header />
    <div id="gallery" class="text-section">
        {images.map((img) => (
            <img src={img.src} alt="drawing" class="thumb" />
        ))}
    </div>

    <div id="lightbox" class="hidden">
        <img id="lightbox-img" src="" alt="full view" />
    </div>

    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const thumbs = document.querySelectorAll<HTMLImageElement>('.thumb');
            const lightbox = document.getElementById('lightbox');
            const lightboxImg = document.getElementById('lightbox-img') as HTMLImageElement | null;

            if (!lightbox || !lightboxImg) return;

            thumbs.forEach((img) => {
                img.addEventListener('click', () => {
                    lightboxImg.src = img.src;
                    lightbox.classList.remove('hidden');
                    document.body.style.overflow = 'hidden'; // Blocca scroll
                });
            });

            lightbox.addEventListener('click', () => {
                lightbox.classList.add('hidden');
                lightboxImg.src = '';
                document.body.style.overflow = ''; // Ripristina scroll
            });
        });
    </script>

    <style>
    #gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    }

    .thumb {
    height: 70vh;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.25s ease, filter 0.25s ease;
    
    }

  .thumb:hover {
    transform: scale(1.08);
    z-index: 3;
    }

#lightbox {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.98); /* Opaco per nascondere il contenuto */
    z-index: 9999; /* Valore alto per superare footer e gallery */
    cursor: default;
}

#lightbox img {
    max-width: 95vw;
    max-height: 95vh;
    object-fit: contain;
    /* Opzionale: aggiungi un'ombra leggera per staccare l'immagine */
    box-shadow: 0 10px 30px rgba(0,0,0,0.1); 
}

  #lightbox.hidden {
  display: none;
  }


  .hidden {
    display: none;
  }

  @media (max-width: 768px) {
    #gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
}
</style>

  </div>
</Layout>