---
const pageTitle = "Images";
import FluidText from '../fluidText.astro';
import Layout from '../layouts/BaseLayout.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="mispellingworlds">
  <div class="master-stack">
    
  <div class="text-section">
      <div class="desktop-only">
        <FluidText text="i want to become an image in your mind" tag="h1" />
      </div>
      <div class="mobile-only">
        <FluidText text="i want to become an" tag="h1" />
        <FluidText text="image in your mind    " tag="h1" />
      </div>
  </div>

  <div class="text-content">
    <ul>
        <li><a href="/drawings" style="color: gray; font-size: 2rem"><b>drawings</b></a></li>
        axiomatic doodling, b/w pointillism, emotional formalism. scanned from my 12,7 x 8,6 cm notebook.
    </ul>

    <ul>
        <li><a href="/screenshots" style="color: gray; font-size: 2rem"><b>screenshots</b></a></li>
        taking a screenshot is the 2D equivalent of shooting a camera. it can be seen as a way to capture peculiarities, 
        crystallize memories and give images new meaning.
    </ul>


  </div>

  <Footer />
  </div>
</Layout>
