---
import Layout from '../layouts/BaseLayout.astro';
import FluidText from '../fluidText.astro';
---

<Layout title="mispellingworlds">
  <main style="padding: 1rem; width: 100%;">
    <div class="desktop-only">
      <FluidText text="hopersotantotempoquindimifacciospazio" tag="h1" />
    </div>
    
    <div class="mobile-only">
      <FluidText text="hopersotantotempo" tag="h1" />
      <FluidText text="quindimifacciospazio" tag="h1" />
    </div>
  </main>
</Layout>