---
const pageTitle = "About";
import FluidText from '../fluidText.astro';
import Layout from '../layouts/BaseLayout.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="mispellingworlds">
  <div class="master-stack">
    
  <div class="text-section">
      <div class="desktop-only">
        <FluidText text="inspirations - inspirations - inspirations - inspirations -" tag="h1" />
      </div>
      <div class="mobile-only">
        <FluidText text="inspirations - inspirations" tag="h1" />
      </div>
  </div>

  <div class="text-content">
    <ul>
        <li><a target="_blank" href="https://waiting-all-my.life/" style="color: gray; font-size: 2rem"><b>7038634357</b></a></li>
        <li><a target="_blank" href="https://store.steampowered.com/app/650700/Yume_Nikki/" style="color: gray; font-size: 2rem"><b>Yume Nikki</b></a></li>
        <li><a target="_blank" href="https://edglrd.com/" style="color: gray; font-size: 2rem"><b>EDGLRD</b></a></li>
        <li><a target="_blank" href="https://latuli.bigcartel.com/" style="color: gray; font-size: 2rem"><b>Tulpess</b></a></li>
        <li><a target="_blank" href="https://x.com/LIL_ICEBUNNY" style="color: gray; font-size: 2rem"><b>James Ferraro</b></a></li>
        <li><a target="_blank" href="https://www.instagram.com/dg_bladee/" style="color: gray; font-size: 2rem"><b>Bladee</b></a></li>
        <li><a target="_blank" href="https://wnoadiarwb.us/" style="color: gray; font-size: 2rem"><b>wnoadiardb</b></a></li>
        <li><a target="_blank" href="https://www.davidkanaga.com/" style="color: gray; font-size: 2rem"><b>David Kanaga</b></a></li>
        <li><a target="_blank" href="https://www.teklintowe.com/" style="color: gray; font-size: 2rem"><b>Tek Lintowe</b></a></li>
        <li><a target="_blank" href="https://www.modifiedguilt.com/" style="color: gray; font-size: 2rem"><b>Charles Stobbes III</b></a></li>
    </ul>
  </div>


  <Footer />
  </div>
</Layout>
