---
const pageTitle = "About";
import FluidText from '../fluidText.astro';
import Layout from '../layouts/BaseLayout.astro';
import Footer from '../components/Footer.astro';
import LinkedPageTargetBlank from '../components/LinkedPageTargetBlank.astro';
---

<Layout title="mispellingworlds">
  <div class="master-stack">
    
  <div class="text-section">
      <div class="desktop-only">
        <FluidText text="inspirations - inspirations - inspirations - inspirations -" tag="h1" />
      </div>
      <div class="mobile-only">
        <FluidText text="inspirations" tag="h1" />
      </div>
  </div>

  <div class="text-content">
    <ul>
        <LinkedPageTargetBlank 
          url="https://waiting-all-my.life/"
          title="7038634357" />
        <LinkedPageTargetBlank 
          url="https://store.steampowered.com/app/650700/Yume_Nikki/"
          title="Yume Nikki" />
        <LinkedPageTargetBlank 
          url="https://edglrd.com/"
          title="EDGLRD" />
        <LinkedPageTargetBlank 
          url="https://latuli.bigcartel.com/"
          title="Tulpess" />
        <LinkedPageTargetBlank 
          url="https://x.com/LIL_ICEBUNNY"
          title="James Ferraro" />
        <LinkedPageTargetBlank 
          url="https://www.instagram.com/dg_bladee/"
          title="Bladee" />
        <LinkedPageTargetBlank 
          url="https://wnoadiarwb.us/"
          title="wnoadiarwb" />
        <LinkedPageTargetBlank 
          url="https://www.davidkanaga.com/"
          title="David Kanaga" />
        <LinkedPageTargetBlank 
          url="https://www.teklintowe.com/"
          title="Tek Lintowe" />
        <LinkedPageTargetBlank 
          url="https://www.modifiedguilt.com/"
          title="Charles Stobbes III" />
    </ul>
  </div>


  <Footer />
  </div>
</Layout>
