---
const pageTitle = "Images";
import FluidText from '../fluidText.astro';
import Layout from '../layouts/BaseLayout.astro';
import Footer from '../components/Footer.astro';
import LinkedPageTargetBlank from '../components/LinkedPageTargetBlank.astro';
import LinkedPage from '../components/LinkedPage.astro';
---

<Layout title="mispellingworlds">
  <div class="master-stack">
    
  <div class="text-section">
      <div class="desktop-only">
        <FluidText text="every single thing has a part in everything" tag="h1" />
      </div>
      <div class="mobile-only">
        <FluidText text="every single thing has" tag="h1" />
        <FluidText text="a part in everything   " tag="h1" />
      </div>
  </div>

  <div class="text-content">
    <ul>
        <LinkedPageTargetBlank 
          url="https://cartografia.bandcamp.com/music"
          title="bandcamp" />
        <LinkedPage 
          url="/inspiration"
          title="inspirations" />
    </ul>
  </div>

  <Footer />
  </div>
</Layout>
