---
const pageTitle = "Posts";
import FluidText from '../fluidText.astro';
import Layout from '../layouts/BaseLayout.astro';
import Footer from '../components/Footer.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<Layout title="mispellingworlds">
  <div class="master-stack">
    
  <div class="text-section">
      <div class="desktop-only">
        <FluidText text="ive thought about this at one moment in time" tag="h1" />
      </div>
      <div class="mobile-only">
        <FluidText text="ive thought about this" tag="h1" />
        <FluidText text="at one moment in time" tag="h1" />
      </div>
  </div>

  <div class="text-content">
    <ul>
      {allPosts.map((post: any) => (
        <BlogPost 
          url={post.url} 
          title={post.frontmatter.title} 
          pubDate={new Date(post.frontmatter.pubDate).toISOString().split('T')[0]}
          )}
        />
      ))}
    </ul>
  </div>

  <Footer />

  
<style is:global>
    .a {
        color: gray;
    }
</style>

  <script>
		import "../scripts/menu.js";
	</script>

  </div>
</Layout>
