---
---

<style is:global>  
  .link-home-section {
    height: 25vh; /* O una misura fissa se vuoi consistenza */
    width: 100%;
    flex: 0 0 auto;
    display: flex;         /* Attiva flexbox sul contenitore */
    justify-content: center; /* Centra l'immagine orizzontalmente */
    font-family: 'Cursive', sans-serif;
    font-size: 4rem;
  }
</style>

<header>
  <div class="link-home-section">
    <a href="/" style="text-decoration: none;
      color: rgb(128, 128, 128)">
      home
    </a>
  </div>
</header>