$primary: #4b2a6b;

$coolpink: #e3afd5;

$body-bg:                   $coolpink !default;

$list-group-bg:                     null !default;

.flexx-c {
    //border: 1px solid #ac311c;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flexx-r{
    //border: 1px solid #321cac;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flexcontainer {
    //border: 1px solid #285a33;
    min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.letstry {
  background-image: url('../images/home.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.backdiv {
    background-color: rgb(241, 216, 234);
    border: 2px solid black;
}



@media screen and (max-width: 767px) {
    .text-width{
        max-width:88%;
    } 

    .logo-padding{
        padding-bottom: 1%;
        padding-top: 1%;
    }

    .img-about{
        margin:auto; 
        max-width:50%
    }

    .logo-width{
        max-width:70%;
    }

    .img-mobile{
        display:block;
    }

    .img-desktop{
        display:none;
    }
}

@media screen and (min-width: 767px) {
    .text-width{
        max-width:50%;
    } 

    .logo-padding{
        padding:3%;
    }

    .img-about{
        margin:auto; 
        max-width:25%;
    }

    .logo-width{
        max-width:90%;
    }

    .img-mobile{
        display:none;
    }

    .img-desktop{
        display:block;
    }
}

.imgBorder {
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    border: 2px solid rgb(46, 46, 46);
  }

.textspacing{
    line-height: 130%;
}