$primary: #4b2a6b;

$coolpink: #e3afd5;

$body-bg:                   $coolpink !default;

$list-group-bg:                     null !default;

.flexx-c {
    //border: 1px solid #ac311c;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flexx-r{
    //border: 1px solid #321cac;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flexcontainer {
    //border: 1px solid #285a33;
    min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.letstry {
  background-image: url('../images/home.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.backdiv {
    background-color: rgb(241, 216, 234);
    border: 2px solid black;
}

.text-width {
    max-width: 50%;
}

@media screen and (max-width: 767px) {
    #text-width{
        max-width:85%;
    } 
}