<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}

    <title>{{ page.title }}</title>
  </head>
  <body style="min-height: 100%;">
    <div class="flexcontainer">
      {% include navbar.html %}

      <div class="flexx-c logo-padding">
        {{ content }}
      </div>
      
      
      <div class="flexx-c grayy" style="justify-content:flex-start; flex-grow:1">
      {% for post in site.posts limit:1 %}
        <b>Latest post: </b><a href="{{ post.url }}" class="grayy" style="text-align:center; max: width 83%; color:#adadad" ">{{ post.title }}</a> <i style="font-size:78%;">{{ post.date| date: "%d %B %Y" }}</i>
      {% endfor %}
      </div>

    </div>
    {% include foot-js.html %}
  </body>
</html>
