<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}

    <title>{{ page.title }}</title>
  </head>
  <body style="min-height: 100%;">
    <div class="flexcontainer">
      {% include navbar.html %}

      <div class="flexx-c" style="flex-grow:1;">
        <div class="flexx-r" style="height:20px"></div>
        <div class="flexx-r backdiv" style="flex-grow:2; min-width:70%">{{ content }}</div>
      </div>
      
      {% include foot-js.html %}
      <div class="flexx-c" style="height:50px">
      </div>
    </div>
  </body>
</html>
